<label class="control-label" for={{id}}>{{label}}{{#if required}}<span style="color:red"> *</span>{{/if}}</label>
{{#if hasBlock }}
  {{yield model property }}
{{else}}
  {{input id=id type=type name=property value=(mut (get model property)) class=inputClasses placeholder=placeholder }}
{{/if}}
<div class='input-error'>
      <div class='error'>
          {{#each errors as |v|}}
            {{v}}
          {{/each}}
      </div>
</div>