{{#if actionMissing}}
  <button class={{btnClass}} type="submit" disabled={{disabled}}>{{text}}</button>
{{else}}
  <button class={{btnClass}} type="button" disabled={{disabled}} {{action "click"}}>{{text}}</button>
{{/if}}
