<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{name}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right">
              {{#if session.isAuthenticated }}
                  <li>
                      <a href="" {{action 'invalidateSession'}} >Logout</a>
                  </li>
              {{else}}
                {{#link-to "signin" tagName="li"}}
                  {{link-to "Sign in" "signin" }}
                {{/link-to}}
                {{#link-to "signup" tagName="li"}}
                  {{link-to "Sign up" "signup" }}
                {{/link-to}}
              {{/if}}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>