{{#if filter.committed}}
  <li class="ads-filters-point">
    <a href="#" class="ad-filter-open-dialog" {{action "openFilterDialog"}}>
      {{shortDescription}}
    </a>
    <a href="#" class="ad-filter-close-dialog" {{action "removeFilter"}}>
      {{fa-icon "close"}}
    </a>
  </li>
{{/if}}

{{#if filter.opened}}
  {{#ui/iron-dialog close="closeFilterDialog" containerClass="ad-filter-dialog"}}
    {{#ui/iron-form}}
      {{#layout/iron-row}}
        {{#layout/iron-column size=4 xs=12}}
          {{quick/form-control-select model=filter.values valueKey="country" options=countries label="Country" optionLabel="name"}}
        {{/layout/iron-column}}
        {{#layout/iron-column size=4 xs=12}}
          {{quick/form-control-select model=filter.values valueKey="mark" options=countryMarks label="Mark" optionLabel="name"}}
        {{/layout/iron-column}}
        {{#layout/iron-column size=4 xs=12}}
          {{quick/form-control-select model=filter.values valueKey="model" options=models label="Model" optionLabel="name"}}
        {{/layout/iron-column}}
      {{/layout/iron-row}}

      {{#layout/iron-row}}
        {{#layout/iron-column size=12}}
          {{ui/iron-button type="success" text="Save" click="commitFilter"}}
        {{/layout/iron-column}}
      {{/layout/iron-row}}
    {{/ui/iron-form}}
  {{/ui/iron-dialog}}
{{/if}}